{% extends 'base.html' %}

{% block content %}

<section class="position-relative py-6">
  <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
    <div class="card shadow border-0 h-100"><img class="img-fluid card-img-top" src="{{profile.profilepic.url}}">
      <div class="card-body"><a class="text-dark">Name: {{user.first_name}} {{user.last_name}}</a>
        <p class="my-2"><a class="text-dark">Username: {{user.username}}</a></p>
        <p class="my-2"><a class="text-dark">Bio: {{profile.bio}}</a></p>
        <!--<p class="my-2 text-muted text-sm">{{blog.content}}</p><a class="btn btn-link pl-0" href="">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>-->
      </div>
    </div>
  </div>
</section>



{% endblock %}
