
{% extends "base.html" %}

{% block content %}

<body>
    <div class="container-fluid px-3">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">

            <form class="form-validate" enctype="multipart/form-data" action="{% url 'register' %}" method="post">
              {% csrf_token %}
              {% for message in messages %}
              <p style="color:red">{{message}}</p>
              {% endfor %}
              <div class="form-group">
                <label class="form-label" for="loginUsername"> First name</label>
                <input class="form-control" name="first_name" id="loginUsername" type="text" placeholder="First name" autocomplete="off" required data-msg="Please enter your First name">
              </div>
              <p> {{message.info}}
              <div class="form-group">
                <label class="form-label" for="loginUsername"> Last name</label>
                <input class="form-control" name="last_name" id="loginUsername" type="text" placeholder="Last name" autocomplete="off" required data-msg="Please enter your Last name">
              </div>
              <div class="form-group">
                <label class="form-label" for="loginUsername"> Email Address</label>
                <input class="form-control" name="email" id="loginUsername" type="email" placeholder="name@address.com" autocomplete="off" required data-msg="Please enter your email-id">
              </div>
              <div class="form-group">
                <label class="form-label" for="loginUsername"> Username</label>
                <input class="form-control" name="username" id="loginUsername" type="username" placeholder="username" autocomplete="off" required data-msg="Please enter your Username">
              </div>
              <div class="form-group mb-4">
                <div class="row">
                  <div class="col">
                    <label class="form-label" for="loginPassword"> Password</label>
                  </div>
                </div>
                <input class="form-control" name="password1" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
              </div>
              <div class="form-group mb-4">
                <div class="row">
                  <div class="col">
                    <label class="form-label" for="loginPassword"> Re-enter Password </label>
                  </div>
                </div>
                <input class="form-control" name="password2" id="loginPassword" placeholder="Re-enter Password" type="password" required data-msg="Please re-enter your password">
              </div>
              <div class="form-group">
                <label class="form-label" for="loginUsername">Enter your Bio</label>
                {{form.bio}}
              </div>
              <div class="form-group">
                <label class="form-label" for="loginUsername">Upload your Profile picture</label>
                {{form.media}}
                {{form.profilepic}}
              </div>


              <!-- Submit-->
              <button class="btn btn-lg btn-block btn-primary">Sign up</button>

            </form>

          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
          <!-- Image-->
          <div class="bg-cover h-100 mr-n3" style="background-image: url(https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"></div>
        </div>
      </div>
    </div>

    </body>
    {% endblock %}
